@media (min-width: 320px) and (max-width: 480px) {
.heading {
  font-family: "Segoe UI Light", sans-serif;
  font-size: 2.3em;
  margin-top: 20%;
  position: relative;
}

hr { width:80%; height:.5px; background: #fff; margin-left: 30%;}

.content {
  position: absolute;
  margin-top: 13%;
  margin-left: 11%;
  display: flex;
  flex-direction: column;
  border: 1px #ff7171 solid;
  box-shadow: 6px 6px #e3dfc8 ;
  border-radius: 1em;
  min-height: 55%;
  padding-top: 7%;
  padding-right: 7%;
  padding-left: 7%;
}

.content div{
  font-family: "Segoe UI Light", sans-serif;
  font-size: 2em;
  color: #000000;
}

.i4 {
  margin-top: 70%;
  margin-left: 90%;
}
}
